# Pass an adapter config first, e.g.
#   openocd -f interface/ftdi/digilent-hs2.cfg -f openocd/pynq_z2.cfg
# JTAG is on the Raspberry Pi header, pins 12/16/18/22, ground on 14.

transport select jtag
adapter speed 1000

set CHIP friscv
jtag newtap $CHIP cpu -irlen 5 -expected-id 0x00000db3
target create $CHIP.cpu riscv -chain-position $CHIP.cpu

reset_config none
riscv set_mem_access sysbus progbuf
init
